# Supabase Configuration
# Replace these with your actual Supabase project details
# Found in: Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://bnhvwgccmgqjghvkobtm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuaHZ3Z2NjbWdxamdodmtvYnRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NjM3MjQsImV4cCI6MjA4OTQzOTcyNH0.5EKsLXMEXuTiyNEC2rV1P5WXjlfuMmnm10DefgeoE7o

# n8n Configuration
NEXT_PUBLIC_N8N_WEBHOOK_URL=https://codewithmilind.app.n8n.cloud/webhook
